.passwordBox {
  display: flex;
}

.passwordBox label {
  align-items: center;
  display: flex;
  justify-content: center;
  /* padding: 0 20px; */
  margin-right: 30px;
}

.passwordBox input {
  width: 200px;
  /* margin: 0 30px; */
}

.passwordBox p {
  margin-left: 30px;
  width: 20px;
}
